meta name="keywords" content="Short link"
meta name="description" content="Short link and URL, keep save and track your url" property="og:description"
meta name="twitter:description" content="Short link and URL, keep save and track your url"
meta content="MnktTtikB6XqycGcXTIcUMlwwN6EM-8vup3DHb2coEw" name="google-site-verification"
/ Facebook sharing SEO
meta property="og:image:url" content="#{root_url}meta.jpg"
meta property="og:url" content=request.url
meta property="og:description" content="Short link and URL, keep save and track your url"
meta property="og:image" content="#{root_url}meta.jpg"
meta property="og:title" content="cturl.herokuapp.com"
meta property="og:type" content="website"
meta property="fb:app_id" content="1546984095608917"
meta property="og:locale:locale" content="id_ID"
meta property="og:site_name" content="cturl"

/ twitter SEO
meta name="twitter:card" content="summary"
meta name="twitter:description" content="Short link and URL, keep save and track your url"
meta property="og:image" itemprop="image" name="twitter:image:src" content="#{image_url("favicon-32x32.png")}"