// Place all the styles related to the urls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* { 
  margin: 0;
  padding: 0px;
    font-family: 'Lato', sans-serif;
} 
body { 
  background: #fff; 
  margin: 0; 
  color: #5a5a5a;
  background-color: #122;
}


#url_url {
  margin-top: 35px;
  width: auto;
}

#show_url {
  background: #ddd;
}

.navigator {
  top: 30px;
  right: 45px;
  font-size: 18px;
  font-weight: 900;
  position:absolute; 
}

.fa.fa-diamond {
    color: red;
}

.fa.fa-heart {
    color: red;
}

.panel-body-menu {
  padding: 10px;
}

.list-group-item:active {
  background: #dadada;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 80px;
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.input-group.dashboard {
  position: absolute;
  right: 50%;
  left: 50%;
}

.list-group-item {
   display:block;
}